<section class="costumers">
  <h2 class="costumers-header">what our costumer's say</h2>
  <img
    class="consumers-image"
    src="../img/ellipse1.jpg"
    alt="impressed man"
    width="181px"
    height="181px"
  />
  <h3 class="costumer-name">John Doe</h3>
  <p class="costumer-company">Company Inc.</p>
  <p class="costumer-text">
    I've been using this app for a few weeks now and I have to say, I'm really
    impressed. It's so easy to use and the personalized recommendations are
    spot-on. Plus, the transactions are secure and the updates are always
    timely. I would definitely recommend this app to anyone looking for a better
    mobile experience
  </p>
</section>
