<footer class="footer">
  <h2 class="footer-title">contact us</h2>
  <div class="footer-container">
    <div class="footer-info">
      <div>
        <h3 class="footer-subtitle">Get in touch with us</h3>
        <p class="footer-text">
          Have a question or comment about our app? Get in touch with us using
          the contact form below and our team will respond shortly.
        </p>
      </div>
      <ul class="footer-icon-list">
        <li class="footer-icon-items">
          <a class="footer-icon-link" href=""
            ><svg class="footer-icon" width="20" height="20">
              <use href=""></use>
            </svg>
          </a>
        </li>
        <li class="footer-icon-items">
          <a class="footer-icon-link" href=""
            ><svg class="footer-icon" width="20" height="20">
              <use href=""></use>
            </svg>
          </a>
        </li>
        <li class="footer-icon-items">
          <a class="footer-icon-link" href=""
            ><svg class="footer-icon" width="20" height="20">
              <use href=""></use>
            </svg>
          </a>
        </li>
      </ul>
      <address class="footer-adress">
        <ul class="footer-adress-list">
          <li class="footer-list-item">
            <a class="footer-item-link" href="mailto:goIteens@gmail.com"
              >goIteens@gmail.com</a
            >
          </li>
          <li class="footer-list-item">
            <a class="footer-item-link" href="tel:++xx-xxxx-xxxx-xx"
              >+xx-xxxx-xxxx-xx</a
            >
          </li>
        </ul>
      </address>
      <p class="footer-text-rights">
        &copy;2019 GoIteens Template. All Rights Reserved
      </p>
    </div>
    <div class="footer-form">
      <div class="footer-form-contacts">
        <label for="user-name">
          <input
            class="footer-inp"
            type="text"
            name="user-name"
            id="user-name"
            placeholder="Name"
          />
        </label>
        <label for="mail">
          <input
            class="footer-inp"
            type="text"
            name="mail"
            id="mail"
            placeholder="Email"
          />
        </label>
      </div>
      <div class="footer-form-coment">
        <label for="user-coment">
          <input
            type="text"
            name="user-coment"
            id="user-coment"
            placeholder="Message"
          />
        </label>
      </div>
      <button class="footer-button" type="button">Submit</button>
    </div>
  </div>
</footer>
