<section class="team">
  <div>
    <h1>OUR TEAM</h1>
    <p>
      Our team is made up of talented and passionate individuals who are
      committed to providing the best experience for our users. Each member
      brings a unique set of skills and expertise to the table, allowing us to
      work collaboratively and effectively to achieve our goals.
    </p>
    <ul>
      <li>
        <img src="../img/img-team-first.jpg" alt="" />
        <h2>David Patel</h2>
        <p>Managing Direcor</p>
      </li>
      <li>
        <img src="../img/img-team-second.jpg" alt="" />
        <h2>Rachel Kim</h2>
        <p>Lead Designer</p>
      </li>
      <li>
        <img src="../img/img-team-third.jpg" alt="" />
        <h2>Samantha Chen</h2>
        <p>Lead Developer</p>
      </li>
      <li>
        <img src="../img/img-team-fourth.jpg" alt="" />
        <h2>Andrew Nguyen</h2>
        <p>Sr. UI Designer</p>
      </li>
    </ul>
  </div>
</section>
