<section class="hero-pg2">
    <div class="container hero-container">
        <h1 class="main-title">Introducing Mobileapp</h1>
        <h3>Download our mobile app today!</h3>
        <ul>
            <li>Real-time updates and notifications for timely information</li>
            <li>Robust analytics and reporting for data-driven insights</li>
            <li>Offline capabilities for uninterrupted use</li>
        </ul>
        <button class="download-btn" type="button">Download</button>
    </div>
</section>